.white-text {
  color: $white;
}
.grey-text {
  color: $grey;
}
.black-text {
  color: $black;
}
.small-text {
  font-size: 12px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-center {
  text-align: center;
}

h1 {
  margin: 0px;
}
