.social-link {
  list-style: none;
  float: left;
  margin-top: 10px;
  a {
    margin-right: 10px;
  }
}
.nav-link {
  list-style: none;
  float: left;
  margin-top: 10px;
  a {
    color: $grey;
    text-decoration: none;
    margin-right: 50px;
    @media (max-width: 880px) {
      margin-right: 20px;
    }
  }
  &.last-item {
    a {
      margin-right: 30px;
    }
  }
  &.active {
    a {
      color: $white;
    }
  }
}
