.map-container {
  background: $white;
  padding: 80px 80px 90px;
  width: 100%;
  clear: both;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 40px 20px 40px;
  }
  .map-heading {
    width: 48%;
    float: left;
    @media (max-width: 992px) {
      width: 100%;
    }
    h1 {
      font-weight: 300;
      line-height: 35px;
      @media (max-width: 767px) {
        padding-bottom: 30px;
      }
    }
    p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
    }
  }
  img {
    width: 43%;
    margin-left: 60px;
    @media (max-width: 992px) {
      width: 100%;
      margin-left: 0px;
    }
  }
}
