<div class='author'>
  {% set imgClass = 'avatar' %}
  {% set imgSrc = authorAvatar %}

  {% include './_image.html.twig' %}

  <p class='author-name'>{{ authorName }}</p>
  <p class='author-position'>{{ authorPosition }}</p>
</div>
