<div class='quote'>
  {% set imgClass = 'quote-img' %}
  {% set imgSrc = '../images/quotes.png' %}
  {% include '../atoms/_image.html.twig' %}

  {% set textClass = 'grey-text' %}
  {% set text = quoteText %}

  {% include '../atoms/_text.html.twig' %}
</div>
